:root {
	--black: #3B434E;
	--white: #FFF;
	--primary: #7653FC;
	--red: #DE0000;
	--red-light: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--gray: #787D85;
	--gray-light: #E2E2E2;
	--yellow: #DCB44E;
	--background: #E5E5E5;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--background);

	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}
