.menu {
	overflow: auto;

	height: 100%;

	color: var(--gray-dark);
}

/* first level menu */
.firstLevel {
	display: grid;
	align-items: center;

	margin-top: 20px;

	transition: color var(--def-duration);

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firsLevelListMenu {
	margin: 0;
	padding: 0;

	list-style: none;
}

.firstLevel svg {
	transition: fill var(--def-duration);
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 10px;
	padding: 0;

	cursor: pointer;
	text-transform: uppercase;

	color: inherit;
	border: none;
	background: none;

	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

/* second level menu */
.secondBlock {
	margin: 15px 0 0 12px;
	padding: 0 0 0 32px;

	list-style: none;

	border-left: 1px solid #DFDFDF;
}

.secondLeveelBlock {
	overflow: hidden;

	margin: 0;
	padding: 0;

	list-style: none;
}

/* third level menu */
.thirdLevel {
	display: block;

	margin-bottom: 10px;

	cursor: pointer;

	transition: color var(--def-duration);

	font-size: 14px;

	font-weight: 500;
	line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
